
	* {
		margin:0;
		padding:0;
		border:0;
		}
		
	html, body {
		height:100%;
		}

	body {
		text-align:center; /* horizontal centering for IE Win quirks */
		background:black);
		}


	#container {
		margin:0px auto 0 auto;
		position:relative;
		height:800px;
		width:900px;
		clear:left;
		padding:25px;
		background:white;
		border-radius:15px;
		box-shadow:5px 5px 20px #888;
		-moz-box-shadow:5px 5px 20px #888;
		-webkit-box-shadow:5px 5px 20px #888;
		}



	#main{
	height:500px;
	width:655px;
	float:right;
        font-family: Trebuchet MS;
			box-shadow:5px 5px 20px #888;
		-moz-box-shadow:5px 5px 20px #888;
		-webkit-box-shadow:5px 5px 20px #888;
				border-radius:15px;
		background:black;
	}

	#main a:link{
	color:black;
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	}

	#main a:visited{
	color:black;
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	}

	#main a:hover{
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	color:#FFFFFF;
	}

	#main a:active{
	color:black;
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	}