
	* {
		margin:0;
		padding:0;
		border:0;
		}
		
	html, body {
		height:100%;
		}

	body {
		text-align:center; /* horizontal centering for IE Win quirks */
		background-image:url('images/background.png');
		}


	#container {
		margin:0px auto 0 auto;
		position:relative;
		height:800px;
		width:900px;
		clear:left;
		padding:25px;
		background:white;
		border-radius:15px;
		box-shadow:5px 5px 20px #888;
		-moz-box-shadow:5px 5px 20px #888;
		-webkit-box-shadow:5px 5px 20px #888;
		}



	#main{
	height:500px;
	width:655px;
	float:right;
        font-family: Trebuchet MS;
			box-shadow:5px 5px 20px #888;
		-moz-box-shadow:5px 5px 20px #888;
		-webkit-box-shadow:5px 5px 20px #888;
				border-radius:15px;
		background:black;
	}

	#main a:link{
	color:black;
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	}

	#main a:visited{
	color:black;
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	}

	#main a:hover{
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	color:#FFFFFF;
	}

	#main a:active{
	color:black;
	text-decoration:none;
	font-size:1em;
	letter-spacing:2px;
	}



	#nav{
	height:500px;
	width:225px;
        font-family: Trebuchet MS;
	text-align:left;
	color:black;
	float:left;
	border-radius:15px;
			box-shadow:5px 5px 20px #888;
		-moz-box-shadow:5px 5px 20px #888;
		-webkit-box-shadow:5px 5px 20px #888;
	}

	
	#nav ul{
	margin: 70px 10px 10px 45px;
	list-style-type:none;
	width:175px;

	}
	
	#nav li{
	width:175px;
	padding:5px;
	color:white;
	}

	.overlay{
	background:url(images/bullet.gif);
	position:relative;
	width:18px;
	height:18px;
	display:none;
	float:right;
	right:182px;
	top:9px;
	}
	

	#nav ul li a:link{
	color:black;
		font-weight:200;
	text-shadow:3px 3px 5px black; 
	text-decoration:none;
	font-size:1.8em;
	letter-spacing:5px;
	}

	#nav ul li a:visited{
	color:black;
	text-shadow:3px 3px 5px black; 
	text-decoration:none;
	font-size:1.8em;
	letter-spacing:5px;
	}

	#nav ul li a:hover{
	color:#1F1F1F;
	 text-shadow:1px 1px 1px; 
		text-decoration:none;
	font-size:1.8em;
	letter-spacing:5px;
	}

	#nav ul li a:active{
	color:#1F1F1F;
	 text-shadow:1px 1px 1px; 
		text-decoration:none;
	font-size:1.8em;
	letter-spacing:5px;
	}


	#nav ul li a:hover + .overlay{
	display:inline;
	}

	body#video a#video-nav, body#bio a#bio-nav, body#photo a#photo-nav, body#contact a#contact-nav, body#press a#press-nav{
	color:#1F1F1F;
 text-shadow:1px 1px 1px; 
	}



#nav img {
filter:alpha(opacity=85);
-moz-opacity: 0.85;
opacity: 0.85;
-khtml-opacity: 0.85;}

#nav img:hover  {
filter:alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
-khtml-opacity: 1;}

#press2 {
position:relative;
width:100%;
height:100%;
border-radius:15px;
}

#press2 img{
margin:140px 20px 20px 20px;
filter:alpha(opacity=85);
-moz-opacity: 0.85;
opacity: 0.85;
-khtml-opacity: 0.85;
	border-radius:5px;
			box-shadow:5px 5px 20px #888;
		-moz-box-shadow:5px 5px 20px #888;
		-webkit-box-shadow:5px 5px 20px #888;
}

#press2 img:hover  {
filter:alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
-khtml-opacity: 1;}