<!--<h2>This is home</h2>

{{ message }}-->
<div id="banner" >
        <h5 style="position:absolute; color: darkgreen; margin-left:10px;">Players in Allegiance: {{playerCount()}}</h5>
        <h5 ><img src="images/logo.gif" /></h5>
</div>

<table class="rwd-table">
    <thead style="color: #003333; text-shadow: 0 0 3px #6cf; font-family: 'Orbitron', sans-serif; font-size: 1.2em;  ">
        <tr>
            <td></td>
            <td>Started</td>
            <td>Mission</td>
            <td>Core</td>
            <td>Cookie</td>
            <td>Version</td>
            <td>Server</td>
            <td>Players</td>
            <td>NOAT</td>
            <td>Teams</td>
        </tr>
    </thead>
    <tr ng-repeat="m in missions">
        <td><a href="allegiance://join/?id={{m.dwCookie}}&team=NOAT"><div class="button">launch</div></a></td>
        <td>{{m.fInProgress}}</td>
        <td>{{m.GameName}}</td>
        <td>{{m.IGCStaticFile}}</td>
        <td>{{m.dwCookie}}</td>
        <td>{{m.ServerVersion}}</td>
        <td>{{m.ServerName}}</td>
        <td>{{m.nNumPlayers}}</td>
        <td>{{m.nNumNoatPlayers}}</td>
        <td>{{m.nTeams}}</td>
    </tr>
</table>