
<div id="banner" >
        <h5 ><img src="images/logo.gif" /></h5>
</div>

<table class="rwd-table" style="border-collapse: inherit; ">
    <thead style="color: #FFF; text-shadow: 0px 7px 7px #057; border-top: none; font-family: 'Orbitron', sans-serif; font-size: 1.2em; background: #000000; ">
        <tr>
            <td></td>
            <td>Started</td>
            <td>Mission</td>
            <td>Core</td>
            <td>Cookie</td>
            <td>Version</td>
            <td>Server</td>
            <td>Players</td>
            <td>NOAT</td>
            <td>Teams</td>
            <td>Players: {{playerCount()}}</td>
        </tr>
    </thead>
    <tr ng-repeat="m in missions">
        <td><a href="allegiance://join/?id={{m.dwCookie}}&team=NOAT"><div class="button">launch</div></a></td>
        <td>{{m.fInProgress}}</td>
        <td>{{m.GameName}}</td>
        <td>{{m.IGCStaticFile}}</td>
        <td>{{m.dwCookie}}</td>
        <td>{{m.ServerVersion}}</td>
        <td>{{m.ServerName}}</td>
        <td>{{m.nNumPlayers}}</td>
        <td>{{m.nNumNoatPlayers}}</td>
        <td>{{m.nTeams}}</td>
    </tr>
</table>