<!--<h2>This is leaderboard</h2>

{{ message }}-->

<div class="container" >
    <h2>Season 1 Leaderboard</h2>
    <table class="table">
        <tr>
            <th>
                Place
            </th>
            <th>
                Callsign
            </th>
            <th>
                Rank
            </th>
            <th>
                Wins
            </th>
            <th>
                Losses
            </th>
            <th>
                Cmd Wins
            </th>
            <th>
                Cmd Losses
            </th>
            <th>
                Kills
            </th>
            <th>
                Ejects
            </th>
            <th>
                Kills/Ejects
            </th>
            <th>
                Kills/Hour
            </th>
            <th>
                Drone Kills
            </th>
            <th>
                Station Kills
            </th>
            <th>
                Station Caps
            </th>
        </tr>
    </table>
</div>