<!--<h2>This is leaderboard</h2>

{{ message }}-->

<div id="main" style="margin-top:50px;">
    <h2>Allegiance Zone Season 1 Leaderboard</h2>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th>
                Place
            </th>
            <th>
                Callsign
            </th>
            <th>
                Rank
            </th>
            <th>
                Wins
            </th>
            <th>
                Losses
            </th>
            <th>
                Cmd Wins
            </th>
            <th>
                Cmd Losses
            </th>
            <th>
                Kills
            </th>
            <th>
                Ejects
            </th>
            <th>
                Kills/Ejects
            </th>
            <th>
                Kills/Hour
            </th>
            <th>
                Drone Kills
            </th>
            <th>
                Station Kills
            </th>
            <th>
                Station Caps
            </th>
        </tr>

</div>