<!--<h2>This is rosters</h2>

{{ message }}-->

<div class="container">
    <table class="table">
        <tr>
            <td><a href=""><img src="images/bslogo.png" /><br />Black Shadow</a></td>
            <td><a href=""><img src="images/mecicon.png" /><br />Mos Eisley Consortium</a></td>
            <td><a href=""><img src="images/pkicon.png" /><br />Palidor's Knights</a></td>
        </tr>
        <tr>
            <td><a href=""><img src="images/sysxicon.png" /><br />System X</a></td>
            <td><a href=""><img src="images/icint.png" /><br />The Knights Who Say ~NI</a></td>
        </tr>
    </table>
</div>