<!--<h2>This is training</h2>

{{ message }}-->

<h3>The Weedman Collection</h3>
<div class="VideoAuthor" style="width:1000px;overflow: auto;overflow-y: hidden;margin-left:auto;margin-right:auto;white-space: nowrap;">
<iframe width="672" height="378" src="//www.youtube.com/embed/O2B5Hm7U93o" frameborder="0" allowfullscreen></iframe>
<iframe width="672" height="378" src="//www.youtube.com/embed/ozg3LSDZEMU" frameborder="0" allowfullscreen></iframe>
<iframe width="672" height="378" src="//www.youtube.com/embed/0IMHJu5W7JQ" frameborder="0" allowfullscreen></iframe>
</div>

<h4>New videos with the recently implemented high quality textures coming soon!</h4>