<!--<h2>This is training</h2>

{{ message }}-->

<h3>The Weedman Collection</h3>
<div class="VideoAuthor" style="margin-top:25px;width:800px;">
<iframe width="448" height="252" src="//www.youtube.com/embed/O2B5Hm7U93o" frameborder="0" allowfullscreen></iframe>
<iframe width="448" height="252" src="//www.youtube.com/embed/ozg3LSDZEMU" frameborder="0" allowfullscreen></iframe>
<iframe width="448" height="252" src="//www.youtube.com/embed/0IMHJu5W7JQ" frameborder="0" allowfullscreen></iframe>
</div>

<h4>New videos with the recently implemented high quality textures coming soon!</h4>